<a href="https://colab.research.google.com/github/kimdukyoung/aipython/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=input("당신의 나이는?")

print(a, "살 이군요")
print(type(a))

In [ ]:
a=input("당신의 나이는?")

print(a, "살 이군요.")
print("내년엔",a+1,"살이 되네요")
print(type(a))

In [ ]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실:')
print(Lab)

In [ ]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print('우리가 수업하는 실습실: ', Lab)

In [ ]:
# 변수 두 개를 생성하고 값을 할당
my_id = 20150001
grade = 1

# 두 개의 변수에 할당된 값을 출력
print('나의 학번: ')
print(my_id)
print('학년:1')
print(grade)

In [ ]:
# 변수에 값을 할당하고  출력하는 예제입니다.
# dollars 변수에 값을 할당해봅시다.
dollars = 2.75
print('I have', dollars, 'in my account!')

In [ ]:
# 두 개의 변수를 생성하고 문자열을 할당합니다.
department = '국어국문학과'
name = '홍길동'

# 각 변수에 할당된 문자열 값을 출력해보자
print(departmnet, name)

In [ ]:
# 학과명을 입력받습니다.
department = input('학과명: ')

#여러분의 이름을 입력받습니다.
name = input('성명:')

# 두 변수의 값을 출력합니다.
print('안녕하세요', department, name)

In [ ]:
# 여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name = input('당신의 이름은 무엇입니까?')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까? '))

#변수에 입력된 데이터를 출력해봅시다.
print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

In [ ]:
# salary 변수에 급여를 할당합니다.
salary = 2500.0

# bonus 변수에 보너스를 할당합니다.
bonus = 1200.0

# 급여와 보너스를 더하여 총 급여를 구해봅니다.
# 총 급여를 pay 변수에 할당합니다.
pay = salary + bonus

# 총 급여를 출력합니다.
print('총 급여:', pay)

In [ ]:
# 본 예제에서는 원가에 할인율을 적용하여 할인가격을 계산해보자.

# original price 변수에 원가를 입력받는다.
original_price = float(input("제품의 원가를 입력해주세요: "))

#원가에 할인율 20%를 적용하여 할인가를 계산하여 discount 변수에 할당한다.
discount = original_price * 0.2

# 원가에 할인가가 적용된 제품 가격을 계산하여 sale_price 변수에 할당한다.
sale_price = original_price - discount

#할인가가 적용된 제품 가격을 출력한다.
print('할인가격: '. sale_price)

In [ ]:
# 세 과목의 평가 점수를 입력받고
# test1, test2, test3 변수에 각각 할당한다.
test1 = float(input('첫 번째 과목 점수를 입력해주세요: '))
test2 = float(input('두 번째 과목 점수를 입력해주세요: '))
test3 = float(input('세 번째 과목 점수를 입력해주세요: '))

# 각 과목의 점수 평균을 계산하고
# 그 결과 값을 average 변수에 할당한다.
average = (test1 + test2 + test3)/ 3.0

# 점수 평균을 출력한다.
print('3 과목의 평균 점수: ', average)